{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'jobs', 'dropdown': 'backend'} %}
{% endblock %}

{% block body_main %}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('list_jobs') }}">Queue</a></li>
        <li role="presentation" class="active"><a href="{{ path('bprs_commandline_list_worker')}}">Worker</a></li>
    </ul>

    <div class="page-header">
        <h1>{{ 'bprs_commandline.list_worker_header'|trans({'%total%': workers|length }) }}</h1>
    </div>

    {% for worker in workers %}
        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        {{ 'bprs_commandline.list_worker_id'|trans }}
                    </dt>
                    <dd>
                        {{ worker }}
                    </dd>
                </dl>
            </div>
        </div>
    {% endfor %}
{% endblock %}
