<div class="episode-pager">
    <ul class="list-group">
        {% for entry in entries %}
            <li class="list-group-item">
                [{{ entry.createdAt|date('Y.m.d H:i:s')}}] - {{ entry.transkey|trans(entry.transValues) }}
            </li>
        {% endfor %}
    </ul>
    {{ knp_pagination_render(entries) }}
    {% if entries is empty %}
        <ul class="list-group">
            <li class="list-group-item">
                {{ 'bprs_logbook.no_entries_for_reference'|trans }}
            </li>
        </ul>
    {% endif %}
</div>
