{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktolab_media', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ 'oktolab_media.new_episode_header'|trans }}</h1>
        <a href="{{ path('oktolab_episode_index') }}" class="btn btn-default">{{ 'oktolab_media.new_episode_back_to_list'|trans }}</a>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {% include "BprsAssetBundle::singleUpload.html.twig" with {'widget': form.video, 'adapter': 'cache'} %}
        {% include "BprsAssetBundle::singleUpload.html.twig" with {'widget': form.posterframe, 'adapter': 'posterframe'} %}
        <div class="row">
            <div class="col-md-6">
                {% include "BprsStyleBundle::datetimepicker.html.twig" with {'widget': form.onlineStart} %}
            </div>
            <div class="col-md-6">
                {% include "BprsStyleBundle::datetimepicker.html.twig" with {'widget': form.onlineEnd} %}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bprsstyle/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/bprsstyle/js/moment/de.js') }}"></script>
    <script src="{{ asset('bundles/bprsstyle/js/datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready( function(){
            $('#oktolab_mediabundle_episode_onlineStart_picker').datetimepicker({
                locale: 'de',
                format: "YYYY-MM-DD kk:mm",
                date: moment($('#oktolab_mediabundle_episode_onlineStart_picker').children(':input').val()),
                useCurrent: true,
                calendarWeeks: true,
                allowInputToggle: true,
                showTodayButton: true
            });

            $('#oktolab_mediabundle_episode_onlineEnd_picker').datetimepicker({
                locale: 'de',
                format: "YYYY-MM-DD kk:mm",
                date: moment($('#oktolab_mediabundle_episode_onlineEnd_picker').children(':input').val()),
                useCurrent: true,
                calendarWeeks: true,
                allowInputToggle: true,
                showTodayButton: true
            });

            $(".character500").characterCounter({
                counterCssClass: 'help-block',
                limit: 900
            });
        });
    </script>
    {% include "BprsAssetBundle::singleUpload.js.twig" %}
    <script src="{{ asset('bundles/bprsstyle/js/charactercounter.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bprsstyle/css/datetimepicker.min.css') }}" rel="stylesheet" />
    {% include "BprsAssetBundle::singleUpload.css.twig" %}
{% endblock %}

