{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}{{ 'Kommentar löschen' }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}
{% set body_class = "commentsindex" %}
{% block body_main %}

    <header class="page-header">
        <h1>{{ 'oktothek.episode_comment_delete_header'|trans }}</h1>
        <a href="{{ path('user_comment_index') }}" class="btn btn-default">{{ 'oktothek.episode_comment_delete_back_to_index'|trans|raw }}</a>
    </header>
    {{ comment.text|nl2br }}
    {% include "AppBundle::Episode_Comment/_form.html.twig" %}
{% endblock %}
