{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'bprs_backend', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}

  <form class="form-signin" action="{{ path('bprs_user_login_check') }}" method="post">
    <h1 class="form-signin-heading">{{ 'bprs_user.login.header'|trans }}</h1>
    
    <div class="form-group">
    <label for="name">{{ 'bprs_user.login.username_label'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" autofocus required />
    </div>

    <div class="form-group">
    <label for="password">{{ 'bprs_user.login.password_label'|trans }}</label>
    <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required />
    <a href="{{ path('bprs_user_iforgot') }}">{{ 'bprs_user.login.reset_password'|trans }}</a>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-primary btn-block" type="submit">{{ 'bprs_user.login.submit'|trans }}</button>
  </form>
{% endblock %}
