{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head %}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'list_users', 'dropdown': 'backend'} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
    <h1>{{ 'bprs_user.list_users.header'|trans }}</h1>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'bprs_user_user_index_action_dropdown'|trans|raw }}
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ path('bprs_user_backend_user_new') }}">
                    <i class="glyphicon glyphicon-plus"></i> {{ 'bprs_user.list_users.new_user'|trans }}
                </a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'bprs_user_user_index_sort_dropdown'|trans|raw }}
      </button>
      <ul class="dropdown-menu">
        <li{% if users.isSorted('u.username') %} class="active"{% endif %}>{{ knp_pagination_sortable(users, 'bprs_user_user_index_sort_name'|trans, 'u.username') }}</li>
        <li{% if users.isSorted('u.email') %} class="active"{% endif %}>{{ knp_pagination_sortable(users, 'bprs_user_user_index_sort_mail'|trans, 'u.email') }}</li>
        <li{% if users.isSorted('u.created_at') %} class="active"{% endif %}>{{ knp_pagination_sortable(users, 'bprs_user_user_index_sort_createdAt'|trans, 'u.created_at') }}</li>
        <li{% if users.isSorted('u.isActive') %} class="active"{% endif %}>{{ knp_pagination_sortable(users, 'bprs_user_user_index_sort_active'|trans, 'u.isActive') }}</li>
      </ul>
    </div>
    <span class="pull-right">{{ 'bprs_user_user_index_total'|trans({'%users%': users.getTotalItemCount}) }}</span>
</div>
    {% if users is empty %}
        <p>{{ 'bprs_user.list_users.no_users'|trans }}</p>
    {% else %}
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
                {% for user in users %}
        {# 2do: Search Function #}
                    {#{% if user.username == 'Babs' %}#}
                    <div  class="row" style="border-bottom: 1pt solid #112022;margin-bottom:20px;">
                        <div class="col-md-9">
                            <dl class="dl-horizontal">
                                <dt>{{ 'bprs_user_user_index_info_name'|trans }}</dt>
                                <dd>{{ user.username }}</dd>
                                <dt>{{ 'bprs_user_user_index_info_mail'|trans }}</dt>
                                <dd><a href="mailto:{{ user.email }}">{{ user.email }}</a></dd>
                                <dt>{{ 'bprs_user_user_index_info_createdAt'|trans }}</dt>
                                <dd>{{ user.createdAt|date('d.m.Y')}}</dd>
                                <dt>{{ 'bprs_user_user_index_info_active'|trans }}</dt>
                               <dd>{{ user.isActive ? 'bprs_user_user_index_info_active_choice_true'|trans  :  'bprs_user_user_index_info_active_choice_false'|trans  }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-link" href="{{ path('bprs_user_backend_user_edit', { 'id': user.id }) }}">
                                <span class="glyphicon glyphicon-edit"></span> {{ 'bprs_user.list_users.user_edit'|trans }}
                            </a>
                        </div>
                    </div>
                    {#{% endif %}#}
                {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
    {% endif %}
{% endblock%}
