{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head %}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'list_users', 'dropdown': 'backend'} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ 'bprs_user.new_user.header'|trans }}</h1>
        <a href="{{ path('bprs_user_backend_users')}}" class="btn btn-default">{{ 'bprs_user.new_back_button'|trans}}</a>
    </div>


    {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.isActive) }}
        {% for role in form.roles %}
            {{ form_row(role) }}
        {% endfor %}
        {{ form_row(form.save) }}

    {{ form_end(form) }}
{% endblock%}
