<!DOCTYPE html>
<html>
<head>
    <script src="{{ asset('bundles/bprsstyle/js/jquery2.1.4.js') }}"></script>
    <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['disableCookies']);
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://matomo.okto.tv/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
    </script>
    {{ player(episode, "player", false, withtitle)|raw }}
    {% if start %}
        <script type="text/javascript">
            $(document).ready(function(){
                // jump to starttime if given
                var init = false;
                var player = jwplayer('player');
                player.on('play', function(){
                    if (init == false) {
                        player.seek({{start}});
                        init = true;
                    }
                });

            });
        </script>
    {% endif %}
<title>{{ episode.name|default(name|default(''))}}</title>
</head>
<body>
<figure id="player">
    {% if episode.video is empty %}
        <img src="{{ episode.posterframe|path }}" class="img-responsive" />
    {% endif %}
</figure>
</body>