<div class="collapse collapseShare collapseWindow" id="collapseShareArea">
    <div class="collapse-header">
        <div class="triangle"></div>
    </div>
    <div class="collapse-content">
        <h3>{{ 'oktothek_share_header'|trans }}</h3>
        <div class="row">
            <form class="col-lg-7 col-md-7 col-sm-12 col-xs-12"><input type="text" value="" class="form-control" id="sharingurl"></form>
            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 share-buttons" itemscope="itemscope" itemtype="http://schema.org/ShareAction">
                <ul class="socialnetworks" >
                    {% set share_url = url('oktothek_show_episode', {'uniqID': episode.uniqID})|url_encode %}
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}&t={{ episode.name|url_encode }}" class="icon-facebook" target="_blank" title="{{ 'oktothek.snippedEpisodeShare_title_fb'|trans }}"><span itemprop="recipient">{{ 'oktothek_series.share_fb'|trans }}</span></a></li>
                    <li><a href="https://twitter.com/intent/tweet?url={{ share_url }}" class="icon-twitter" target="_blank" title="{{ 'oktothek.snippedEpisodeShare_title_tw'|trans }}"><span itemprop="recipient">{{ 'oktothek_series.share_tw'|trans }}</span></a></li>
                    <li><a href="https://plus.google.com/share?url={{ share_url }}" class="icon-googleplus" target="_blank" title="{{ 'oktothek.snippedEpisodeShare_title_gp'|trans }}"><span itemprop="recipient">{{ 'oktothek_series.share_gp'|trans }}</span></a></li>
                    <li><a href="https://pinterest.com/pin/create/link/?url={{ share_url }}&media={{ episode.posterframe(true)|thumb(720,1280)}}" class="icon-pinterest" target="_blank" title="{{ 'oktothek.snippedEpisodeShare_title_pin'|trans }}"><span itemprop="recipient">{{ 'oktothek_series.share_pint'|trans }}</span></a></li>
                </ul>
                <a href="mailto:?to=&subject={{ episode.name|url_encode }}&body={{ share_url }}" class="btn btn-default" title="{{ 'oktothek.snippedEpisodeShare_title_mail'|trans }}" itemprop="recipient">{{ 'oktothek_share_email'|trans }}</a>
            </div>
        </div>
        <h3>{{ 'oktothek_share_embed'|trans }}</h3>
        <div class="row">
            <form class="col-lg-7 col-md-7 col-sm-12 col-xs-12" id="embedding_episode"><input type="text" value='' class="form-control" id="embedurl"></form>
            <div class="helptext">{{ 'oktothek_share_helptext'|trans|raw }}</div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#embedding_episode input').val('<iframe width="420" height="315" src="{{ url('oktothek_embed_episode', {'uniqID': episode.uniqID})}}" frameborder="0" allowfullscreen></iframe>');
});
</script>