<script src="{{ asset('bundles/bprsstyle/js/moment/moment.min.js')|raw }}"></script>
<script src="{{ asset('bundles/bprsstyle/js/moment/de.js')|raw }}"></script>
<script src="{{ asset('bundles/bprsstyle/js/datetimepicker.min.js')|raw }}"></script>
