<div class='form-group'>
    {{ form_label(widget) }}
    {{ form_errors(widget) }}
    <div class="input-group date" id="{{ widget.vars.id~'_picker'}}">
        {{ form_widget(widget) }}
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
