{% extends "BprsStyleBundle::layout.html.twig" %}
{% block metas %}
<meta name="description" content="{{ episode.description }}">
<meta property="og:url" content="{{ url('oktothek_show_episode', {'uniqID': episode.uniqID })}}" />
<meta property="og:title" content="{{ episode.series.name }}: {{ episode.name }}" />
<meta property="og:description" content="{{ episode.description }}" />
<meta property="og:image" content="{{ episode.posterframe(true)|thumb(720,1280) }}" />
<meta property="og:type" content="video.episode" />
<meta property="fb:app_id" content="696921587161553" />

{% set fb_media = null %}
{% for media in episode.media %}
    {% if media.quality == "360p" %}
        {% set fb_media = media %}
    {% endif %}
{% endfor %}
{% if fb_media %}
    <meta property="og:video" content="{{ fb_media.asset|link }}" />
    <meta property="og:video:secure_url" content="{{ fb_media.asset|link }}"  />
    <meta property="og:video:type" content="video/mp4" />
{% endif %}
{% endblock %}

{% block title %}
    {{ episode.name|default(
        'oktothek.episode_show_firstRanAt'|trans(
            {
                '%day%': 'oktothek.episode_show_firstRanAt_day_choice'|transchoice(episode.firstRanAt|date('N')),
                '%date%': episode.firstRanAt|date('oktothek.episode_show_firstRanAt_dateformat'|trans)
            }
        )
    ) ~', '~ episode.series.name ~' | '~ name|default('OKTO') }}
{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktothek', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "episode" %}
{% block body %}
    <div id="top"></div>
    <div class="container-fluid" itemscope itemtype="http://schema.org/Episode">
        <section class="container">
            <div class="player_container" itemprop="video">
                <figure id="player">
                    {% if episode.video is empty %}
                        {# <img src="{{ episode.posterframe|path }}" class="img-responsive" /> #}
                        <img src="{{ asset('bundles/app/images/player/sad_panda.jpg') }}" class="img-responsive center-block" />
                    {% endif %}
                </figure>
            </div>
            <article>
                <header>
                    <p class="series" itemscope="itemscope" itemtype="http://schema.org/CreativeWorkSeries" itemprop="partOfSeries">
                        <a href="{{ path('oktothek_show_series', {'uniqID': episode.series.uniqID}) }}" title="{{ episode.series.name }}" itemprop="url"><span itemprop="name">{{ episode.series.name }}</span></a>
                    </p>
                    <h1 class="name" itemprop="headline">{{ episode.name }}</h1>
                    <div class="time" itemprop="datePublished">
                        {{ 'oktothek.episode_show_firstRanAt'|trans({
                            '%day%': 'oktothek.episode_show_firstRanAt_day_choice'|transchoice(episode.firstRanAt|default(episode.onlineStart)|date('N')),
                            '%date%': episode.firstRanAt|default(episode.onlineStart)|date('oktothek.episode_show_firstRanAt_dateformat'|trans)
                            })
                        }}
                    </div>
                </header>
                <p class="description" itemprop="description">
                    {{ episode.description|converturls|nl2br|episodeComment(episode.uniqID)|raw }}
                </p>
                <ul class="misc clearfix">
                    {% if app.user is empty %}
                        {# removed clicks and favorites (from edk)
                        <li class="view-icon"><span class="glyphicon icon-views"></span> <span>{{ episode.views }}</span></li>
                        <li class="favorite-icon"><span class="glyphicon glyphicon-heart"></span> <span>{{ episode.users|length}}</span></li>
                        #}
                    {% else %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="backend"><a href="{{ path('oktolab_episode_show', {'uniqID': episode.uniqID}) }}" class="btn btn-default backend">{{ 'oktothek.episode_show_in_backend'|trans }}</a></li>
                        {% endif %}
                        {# removed clicks and favorites (from edk)
                        <li class="view-icon next-but"><span class="icon-views"></span> <span>{{ episode.views }}</span></li>
                        <li class="favorite-icon"><button type="button" class="btn btn-default like-it" id="favorite" data-uniqID="{{episode.uniqID}}" title="Favorite Video" data-fav="{% if episode in app.user.favorites %}1{% else %}0{% endif %}"><span class="glyphicon {% if episode in app.user.favorites %}glyphicon-heart choosen{% else %}glyphicon-heart{% endif %}"></span> <span>{{ episode.users|length}}</span></button></li>
                        #}
                        {% set in_abo = false %}
                        {% for abonnement in app.user.abonnements if abonnement.series.uniqID == episode.series.uniqID %}
                            {% set in_abo = true %}
                        {% endfor %}
                        {% if in_abo %}
                            <li><button type="button" class="btn btn-default" id="subscribe" title="{{ 'oktothek.episode_user_unsubscribe_title'|trans({'%series%': episode.series.name}) }}" data-subscribed="1">{{ 'oktothek_user_unsubscribe'|trans|raw }}</button></li>
                        {% else %}
                            <li><button type="button" class="btn btn-default" id="subscribe" title="{{ 'oktothek.episode_user_subscribe_title'|trans({'%series%': episode.series.name}) }}" data-subscribed="0">{{ 'oktothek_user_subscribe'|trans|raw }}</button></li>
                        {% endif %}
                        <li><button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapsePlaylistArea" aria-expanded="false" aria-controls="collapsePlaylistArea" id="ButtonPlaylist" data-uniqID="{{episode.uniqID}}" title="{{ 'oktothek.episode_add_to_playlist_title'|trans({'%episode%': episode.name}) }}"><span class="hidden-xs">{{ 'oktothek.episode_add_to_playlist'|trans }}</span><span class="visible-xs-inline glyphicon glyphicon-plus"></span></button></li>
                    {% endif %}
                    <li><button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseShareArea" aria-expanded="false" aria-controls="collapseShareArea" id="ButtonShare" data-uniqID="{{episode.uniqID}}" title="{{ episode.name }} teilen"><span class="hidden-xs">{{ 'oktothek.episode_share'|trans }}</span><span class="visible-xs-inline glyphicon glyphicon-share-alt"></span></button></li>
                </ul>
                <!-- Start Collapse Share-->
                {% include 'AppBundle:oktothek:snippetEpisodeShare.html.twig' with {'episode': episode} %}
                <!-- End Modal Window Share-->
                <!-- Start Modal Window Playlist-->
                {% include 'AppBundle:oktothek:snippetPlaylist.html.twig' %}
                <!-- End Modal Window Playlist-->
            </article>
        </section>
        <!-- Kommentare -->
        {{ render(controller("AppBundle:EpisodeComment:index", {'uniqID': episode.uniqID})) }}
        <!-- Ende Kommentare -->
        {% if episode.tags is not empty %}
            <section class="container tags">
                <h2>{{ 'oktothek.episode_tag_header'|trans }}</h2>
                <ul class="row">
                    {% for tag in episode.tags %}
                        <li class="col-xs-6 col-sm-3 col-md-2 col-lg-1" itemprop="keywords"><a href="{{ path('oktothek_tag_show', {'slug': tag.slug})}}">{{ tag.text }}</a>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}

        <!-- Weitere Episoden der Serie Start -->
        <div id="anchor_series"></div>
        {{ render(controller("AppBundle:Series:episodesWithTagsAjax", {'uniqID': episode.series.uniqID})) }}
        <!-- Weitere Episoden der Serie Ende -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/javascript_collapse.js') }}"></script>
    {% if episode.canBeOnline and episode.video is not empty %}
        {{ player(episode)|raw }}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function(){

            // start playing if the starttime is given
            {% if start %}
                jwplayer('player').seek({{start}});
            {% endif %}

            // add/remove from favorites
            $('#favorite').click(function(e){
                e.preventDefault();
                $.ajax({
                    url: "{{ path('user_update_favorite') }}",
                    data:   {'uniqID': '{{ episode.uniqID}}'},
                    type: 'POST',
                    success: function(data) {
                        console.log(data);
                        var button = $('#favorite');
                        if (button.attr('data-fav') == '1') {
                            // console.log('now unfav');
                            button.attr('data-fav', '0');
                            var text = "<span class='glyphicon glyphicon-heart-empty'></span> "+ data.favorites;
                            button.html(text);
                        } else {
                            // console.log('now fav');
                            button.attr('data-fav', '1');
                            var text = "<span class='glyphicon glyphicon-heart'></span> "+ data.favorites;
                            button.html(text);
                        }
                    }
                })
            });

            // subscribe/unsubscribe
            $('#subscribe').click(function(e){
                e.preventDefault();
                $.ajax({
                    url: "{{ path('user_update_subscription') }}",
                    data: { 'uniqID': '{{ episode.series.uniqID }}'},
                    type: 'POST',
                    success: function(data) {
                        var button = $('#subscribe');
                        if (button.attr('data-subscribed') == '1') {
                            console.log('now unsubscribed');
                            button.attr('data-subscribed', '0');
                            button.text('{{'oktothek_user_subscribe'|trans|raw}}');
                        } else {
                            console.log('now subscribed');
                            button.attr('data-subscribed', '1');
                            button.text('{{'oktothek_user_unsubscribe'|trans|raw }}');
                        }
                    }
                })
            });
        });

        // Comments
        $(document).on('click', '.comment_submit', function(e){
            var button = $(this);
            var form = button.closest('form[name="appbundle_episode_comment"]');
            var inputField = form.find('#appbundle_episode_comment_text');
            if (inputField.val().length) {
                e.preventDefault();
                $.ajax({
                    url: form.attr('action'),
                    type: 'post',
                    dataType: 'json',
                    data: form.serialize(),
                }).complete(function(data) {
                    inputField.val('');
                    if (data.status = 200) {
                        if (button.hasClass('answer')) {
                            $(data.responseText).hide().appendTo(form.closest('.comment-answer').find('.answer-text')).wrapAll('<div class="row"></div>').slideDown();
                        } else {
                            $(data.responseText).hide().prependTo('.commentbox').slideDown();
                        }
                    }
                });
            }
        });

        $(document).on('click', '.answer_comment', function(e){
            e.preventDefault();
            var parent = $(this).parent();
            $(this).hide();
            console.log($(this).attr("href"));
            $.ajax({
                url: $(this).attr("href"),

            }).success(function(data) {
                $(data).hide().appendTo($(parent)).slideDown();
            });
        });

        // Playlist
        $(document).on('click', '.playlist', function(e){
            var playlist = $(this);
            if (playlist.hasClass('active')) {
                $.ajax({
                    url: "{{ path('oktothek_playlist_ajax') }}",
                    data: {
                        'uniqID': playlist.attr('data-uniqID'),
                        'episodeID': "{{ episode.uniqID }}",
                        'action': 'remove'
                    },
                    type: 'POST',
                    success: function(data) {
                        playlist.removeClass('active');
                        playlist.html('');
                    }
                });
            } else {
                $.ajax({
                    url: "{{ path('oktothek_playlist_ajax') }}",
                    data: {
                        'uniqID': playlist.attr('data-uniqID'),
                        'episodeID': "{{ episode.uniqID }}",
                        'action': 'add'
                    },
                    type: 'POST',
                    success: function(data) {
                        playlist.addClass('active');
                        playlist.html('<span class="glyphicon glyphicon-ok"> </span>');
                    }
                });
            }
        });

        var addPlaylist = function() {
            var playlist = $('.playlist-new-input');
            if (playlist.val()) {
                var item = playlist.attr('data-prototype');
                item = item.replace(/__name__/g, playlist.val());
                $.ajax({
                    url: "{{ path('oktothek_playlist_new')}}",
                    data: {
                        'name': playlist.val(),
                        'uniqID': "{{ episode.uniqID }}"
                    },
                    type: 'POST',
                    success: function(data) {
                        if (!$('#collapsePlaylistArea ul').hasClass('playlists')) 
                            $( '<ul class="list-group playlists row"></ul>' ).replaceAll( '.playlistspace' );
                        $('.playlists').append(item);
                        playlist.val('');
                        $('.playlists li:last-child').slideDown('fast');
                        $('.playlists li:last-child').addClass('newplaylist');
                    }
                });
            }
        };

        $(document).on('click', '.playlist-new', function(e){
            addPlaylist();
        });

        $(document).on("keypress", ".playlist-new-input", function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                addPlaylist();
            }
        });

        // AJAX pagination
        $( document ).on('click', '.pagination > li > a', function(e){
            e.preventDefault();
            var link = $(this);
            $.ajax({
                url: link.attr('href'),
                context: document.body
            }).success(function(data) {
                $(link.parents('.comment-pager')).replaceWith(data);
            });
        });

        $(document).on('change', '#episode-tag', function(){
            var optionSelected = $("option:selected", this);
            var slug = $(optionSelected).attr('data-slug');
            $.ajax({
                url: "{{ path('oktothek_series_episodes_with_tags_ajax', {'uniqID': episode.series.uniqID}) }}",
                data: {'tag': slug},
                type: 'POST',
                success: function(data) {
                    $('#episode-tag-stack').replaceWith('<div id="episode-tag-stack">'+data+'<div>');
                }
            })
        });

        $(document).on('click', '.skipper', function(e) {
            e.preventDefault();
            jwplayer('player').seek($(this).data('second'));
        })
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/episode.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/collapse_windows.css') }}" rel="stylesheet" />
{% endblock %}
