{% spaceless %}
{% if asset is defined %}
    <div class="row" data-filekey="{{ asset.filekey }}" data-url="{{ asset|link }}" data-jcrop="off">
        <div class="col-md-10">
            <img src="{{ asset|link }}" class="jcrop img-responsive"/>
{% else %}
    <div class="row" data-filekey="__filekey__" data-url="__cleanurl__" data-jcrop="off">
        <div class="col-md-10">
            <img src="__url__" class="jcrop img-responsive"/>
{% endif %}
    </div>
    <div class="col-md-2">
        <p>
            <a href="#" class="btn btn-default crop-asset pull-right">{{ "bprs_asset.crop_asset_button"|trans|raw }}</a>
            <a href="#" class="btn btn-danger remove-asset pull-right">{{ "bprs_asset.remove_asset_button"|trans|raw }}</a>
        </p>
    </div>
    {% if input is defined %}
        <div style="display:none">
            {{ input|raw }}
        </div>
    {% endif %}
</div>
{% endspaceless %}
