<script src="{{ asset('bundles/bprsasset/js/jcrop.min.js')|raw }}"></script>
<script src="{{ asset('bundles/bprsasset/js/jquery.ui.widget.js')|raw }}"></script>
<script src="{{ asset('bundles/bprsasset/js/jquery.iframe-transport.js')|raw }}"></script>
<script src="{{ asset('bundles/bprsasset/js/jquery.fileupload.js')|raw }}"></script>
<script type="text/javascript">
    $(document).bind('drop dragover', function (e) {
        e.preventDefault();
    });

    var jcrop_api; //jcrop tool

    var addRow = function(url, filekey, filename, type, rowContainer) {
        var row;
        if (type == 'jcrop' || type == 'image/png' || type == 'image/jpeg') {
            row = '{% include "BprsAssetBundle::jcrop_row.html.twig" %}';
        } else {
            row = '{% include "BprsAssetBundle::row.html.twig" %}';
        }
        var temp =  url+'?'+ Math.random();
        row = row.replace(/__cleanurl__/g, url);
        row = row.replace(/__url__/g, temp);
        row = row.replace(/__filekey__/g, filekey);
        row = row.replace(/__filename__/g, filename);

        var prototype = rowContainer.data('prototype');
        var number = rowContainer.find(':input').length;
        prototype = prototype.replace(/__name__/g, number);
        prototype = $(prototype);
        prototype.attr({
            type: 'hidden',
            value: filekey
        });

        var row_with_input = $(row).append(prototype);
        rowContainer.append(row_with_input);
    }

    var addJcrop = function(row) {
        var image = row.find('.jcrop');
        image.Jcrop({
            aspectRatio: 16/9,
            onSelect: setCropAttributes,
            boxWidth: 719,
            boxHeight: 400,
            trueSize: [image.prop('naturalWidth'), image.prop('naturalHeight')],
            setSelect: [ 0, 0, 100, 100 ],
            keySupport: false
        },function(){
            jcrop_api = this;
        });
        row.attr('data-jcrop', 'on');
    }

    var removeJcrop = function(row) {
        jcrop_api.destroy();
        row.attr('data-jcrop', 'off');
    }

    var setCropAttributes = function(c) {
        $('.crop-asset').attr('data-x', c.x);
        $('.crop-asset').attr('data-y', c.y);
        $('.crop-asset').attr('data-w', c.w);
        $('.crop-asset').attr('data-h', c.h);
    }

    // adds filerow with input for oneToOne or oneToMany relations
    $(function() {
        $('.bprs-fileupload').each(function(index, input) {
            $(input).fileupload({
                maxChunkSize: {{ junksize|default('2000000') }},
                autoUpload:true,
                dropZone: input
            }).bind('fileuploaddone', function (e, data) {
                //TODO: remove placeholder in data.context
                $(this).parents('.form-group').children('#progress').fadeOut(300, function(){this.remove()});
                var result = JSON.parse(data.result);
                var type = 'else';
                if (result.type.search('image') != -1) {//is image
                    type = 'jcrop';
                }
                var rowContainer = $($(this).data('reference'));
                row = addRow(result.url, result.asset, result.filename, type, rowContainer);
            }).bind('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $(this).parents('.form-group').children('#progress').children().css('width', progress + '%');
            });
        });
    });

    // deletes an asset from the server and removes file from the DOM
    $(document).on('click', '.delete-asset', function(e) {
        e.preventDefault();
        var row = $(this).parents('.row');
        $.ajax({
            url: "{{ url('bprs_asset_delete') }}",
            data: {'filekey': row.data('filekey')},
            type: 'POST'
        }).done( function() {
            row.remove();
        });
    });

    // removes an asset from the form (the assets stays on the server)
    $(document).on('click', '.remove-asset', function(e) {
        e.preventDefault();
        var row = $(this).parents('.row');
        row.remove();
    });

    // crops an asset on the server and reloads image
    $(document).on('click', '.crop-asset', function(e) {
        e.preventDefault();
        var row = $(e.target).parents('.row');
        if (row.attr('data-jcrop') == "off") {
            addJcrop(row);
        } else {
            $.ajax({
                url: "{{ url('bprs_asset_crop') }}",
                data: {
                    'x': $(this).attr('data-x'),
                    'y': $(this).attr('data-y'),
                    'width': $(this).attr('data-w'),
                    'height': $(this).attr('data-h'),
                    'filekey': row.data('filekey'),
                },
                type: 'POST'
            }).done( function () {
                removeJcrop($(row));
                // update image
                $(row).find('img').replaceWith('<img src="'+row.data('url')+'?'+Math.random()+'" class="img-responsive jcrop"/>');
            });
        }
    })
</script>
