@charset "UTF-8";
/* CSS Document */
.collapsePlaylist ul, .collapsePlaylist li {
    list-style:none;
}
.tagpage .collapseShare .collapse-content, .preview .collapse-header, .clip_overview .collapseShare .collapse-content {
	position:relative;
}
.collapseShare .socialnetworks {
	display:inline;
}
.collapseShare .socialnetworks li {
    padding:2px;
    line-height: 48px;
    display: inline-block;
}
.collapsePlaylist ul, .collapsePlaylist li, .collapseShare .helptext {
	margin-left:0;
}
.episode .collapseWindow > div > h3:first-child, .equipment_rental .collapseWindow > div > h3:first-child {
	margin-top:0;
}
#div_share_sn form, .collapsePlaylist form {
	margin-top:20px;
}
.collapsePlaylist ul {
	margin-top:20px;
    margin-bottom:30px;
}
.collapsePlaylist li button {
    margin-bottom: 8px;
}
.collapseShare .btn-group, .academy section .collapse-content {
	margin-bottom:40px;
}
.collapseShare div, .preview .collapse-header {
	margin:0;
}
.tagpage .collapseShare, .tagpage .collapse-header div, .clip_overview .collapseShare, .clip_overview .collapse-header div {
	margin:0 auto;
}
#collapseShare h3, .news .collapse-content h3, body.newsarchiv .collapse-content h3, body.tagpage .collapse-content h3 { /* Überschrift Barrierefreiheit */
    margin-left: -9990px;
    margin-top:0;
    margin-bottom:0;
}
.collapsePlaylist ul, .collapsePlaylist li {
	padding-left:0;
}
.collapseShare .share-buttons, .collapseShare .helptext {
    padding-top:20px;
}
#ButtonShare .share-btn-text, #ButtonShare_mobil .share-btn-text {
    margin-right:5px;
}
.collapseShare h3 {
    margin-top:20px;
}
.collapseShare .helptext {
	padding-left:15px;
}
.collapseWindow .col-xs-12 {
    float:none;
}
.collapsePlaylist li span {
	padding-left:10px;
}
.academy section .collapse-content {
	padding-bottom:20px;
}
.collapseWindow > div.collapse-content, .tagpage #collapseTagShare .content-opacity, .clip_overview #collapseTagShare .content-opacity {
	padding:20px;
}
.collapseShare div, .tagpage .collapseShare, .clip_overview .collapseShare, .preview .collapse-header {
	padding:0;
}
.collapseShare a  {
	outline:0;
}
.collapseShare .share-buttons  {
	text-align:left;
}
.tagpage .collapseShare, .clip_overview .collapseShare  {
	text-align:center;
}
.collapseShare div, .collapseShare a, .collapseShare .helptext {
    vertical-align:middle;
}
.series .collapseWindow .collapse-header .triangle, .academy .collapseWindow .collapse-header .triangle, .newsarchiv .collapseWindow .collapse-header .triangle, .news .collapseWindow .collapse-header .triangle {
    position:relative;
    left:50%;
    margin-left:-7.5px;
}
#collapseShare input.form-control, .collapsePlaylist input.form-control {
	width:100%;
}
.collapsePlaylist .input-group-btn {
	width:auto;
}
.collapsePlaylist .input-group {
	width:100%;
}
.collapsePlaylist li button.btn {
	width:30px;
    height:30px;
    padding:0;
    line-height:30px;
    vertical-align:center;
    text-align:center;
}
.collapsePlaylist li button span {
    padding-left:0px;
}
.collapseShare form  {
	padding-left:0px;
    padding-right: 0;
}
.less {
    display:none;
}
.tagpage .collapseShare, .clip_overview .collapseShare {
	width:100%;
    max-width: 500px;
    padding:0 15px;
}
.tagpage .inc-posts .collapseShare {
    width:100%;
    max-width:100%;
}
.academy section .collapse {
	width: 100%;
	clear:left;
}
.academy .preview .collapse-header, .equipment_rental .preview .collapse-header {
	width:54px;
	height:30px;
	left:0;
}
.news .collapse-header {
    padding-top:20px;
}
body.series .news-pin .collapse-content form.col-lg-6.col-md-6.col-sm-12.col-xs-12 {
    padding-left:0;
}
body.series .news-pin .collapse-content {
    padding:0;
}
body.series .news-pin .collapse-header {
    display: none;
}
section.blog .post > div.collapseShare {
    padding:0 10px;
}
body.tagpage .collapse-content .socialnetworks {
    margin-left:0px;
}

body.equipment_rental .collapseWindow {
    margin-left:-10px;
    margin-right:-10px;
}
body.equipment_rental .collapseWindow .collapse-header {
    width: 100%;
}
body.equipment_rental .collapseWindow {
    padding-right:0;
}
body.equipment_rental .collapseWindow .collapse-content {
    margin-bottom: 40px;
}

@media (min-width: 580px) {
    .collapseShare .socialnetworks li {
        line-height: auto;
        display:inline;
    }
	.academy section .collapse {
	    width: 100%;
    }
}
@media (min-width: 768px) {
    .tagpage .collapseShare, .clip_overview .collapseShare {
	    width:500px;
        padding:0;
    }
    #ButtonShare .share-btn-text {
        margin-right:0px;
    }
    section.blog .post > div.collapseShare {
        padding:0 15px;
    }
    body.tagpage .collapse-content .socialnetworks {
        margin-left:10px;
    }
}
@media (min-width: 992px) {
    .collapseShare .helptext {
	    display:inline;
    }
    .collapseShare .share-buttons, .collapseShare .helptext {
        padding-top:0;
    }
    .collapseShare h3 {
        margin-top:20px;
    }
    .collapseShare .helptext {
	   line-height:35px;
    }
    /*.collapseWindow .col-xs-12 {
        float:left;
    }*/
    #collapseShare input.form-control, .collapsePlaylist input.form-control {
	    width:600px;
    }
    .collapsePlaylist .input-group {
	    width:auto;
    }
    .tagpage .collapseShare, .clip_overview .collapseShare {
	    width:770px;
        max-width:770px;
    }
    .academy .courses .collapse-content .row div:last-child {
	    padding-left:0px;
    }
}