{% extends "BprsStyleBundle::layout.html.twig" %}

{% block title %}
    {{ 'oktolab_media.episode_show_title'|trans({'%episode%': episode, '%project%': name}) }}
{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'delorian', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ episode.name }}</h1>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'oktolab_media.episode_show_actions'|trans|raw }}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('oktolab_episode_edit', {'episode': episode.uniqID}) }}">
                        {{ 'oktolab_media.episode_edit_button'|trans|raw }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ path('oktolab_media_export_episode', {'uniqID': episode.uniqID}) }}">
                        {{ 'oktolab_media.show_episode_export'|trans|raw }}
                    </a>
                </li>
                {% if episode.keychain %}
                    <li>
                        <a href="{{ path('oktolab_media_reimport_episode', {'uniqID': episode.uniqID }) }}" id="reimport_episode">
                            {{ 'oktolab_media.reimport_episode'|trans|raw }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('oktolab_media_reimport_episode', {'uniqID': episode.uniqID, 'overwrite': 1 }) }}" id="reimport_episode_overwrite">
                            {{ 'oktolab_media.reimport_episode_overwrite'|trans|raw }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('oktolab_episode_encode', {'uniqID': episode.uniqID}) }}">
                        {{ 'oktolab_media.show_episode_add_to_encode_queue'|trans|raw }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'okto_media.episode_show_files'|trans|raw }}
            </button>
            <ul class="dropdown-menu">
                <li>
                    {% if episode.video is not empty %}
                        <a href="{{ path('bprs_asset_show', {'filekey': episode.video.filekey}) }}">{{ 'okto_media.episode_show_files_video'|trans }}</a>
                    {% endif %}
                    {% if episode.posterframe is not empty %}
                    <a href="{{ path('bprs_asset_show', {'filekey': episode.posterframe.filekey}) }}">{{ 'okto_media.episode_show_files_posterframe'|trans }}</a>
                    {% endif %}
                    {% if episode.sprite is not empty %}
                        <a href="{{ path('bprs_asset_show', {'filekey': episode.sprite.filekey}) }}" >{{ 'okto_media.episode_show_files_sprite'|trans }}</a>
                    {% endif %}
                </li>

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            {% if episode.technicalStatus == constant('Oktolab\\MediaBundle\\Entity\\Episode::STATE_READY') %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="player">
                    </div>
                </div>
            </div>
            {% elseif episode.posterframe is not empty %}
                <img src="{{ episode.posterframe|path }}" class="img-responsive"/>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ episode.description|default('oktolab_media.show_episode_description_missing'|trans)|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h4>{{ 'oktolab_media_info_for_episode_header'|trans }}</h4>
            <dl class="dl-horizontal">
                <dt>{{ 'oktolab_media.episode_info_isActive'|trans }}</dt>
                <dd>{{ episode.isActive ? 'oktolab_media.episode_info_isActive_choice_true'|trans : 'oktolab_media.episode_info_isActive_choice_false'|trans }}</dd>

                <dt>{{ 'oktolab_media.episode_info_createdAt'|trans }}</dt>
                <dd>{{ episode.createdAt|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_updatedAt'|trans }}</dt>
                <dd>{{ episode.updatedAt|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_onlineStart'|trans }}</dt>
                <dd>{{ episode.onlineStart|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_onlineEnd'|trans}}</dt>
                <dd>
                    {% if episode.onlineEnd %}
                        {{ episode.onlineEnd|date("d.m.Y H:i") }}
                    {% else %}
                        {{ 'oktolab_media.episode_info_onlineEnd_not_defined'|trans }}
                    {% endif %}
                </dd>

                <dt>{{ 'oktolab_media.episode_info_firstranAt'|trans }}</dt>
                <dd>{{ episode.firstranAt|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'okto_media.episode_info_series'|trans }}</dt>
                <dd>
                    {% if episode.series %}
                        <a href="{{ path('oktolab_series_show', {'series': episode.series.uniqID})}}">
                            {{ episode.series.name}}
                        </a>
                    {% endif %}
                </dd>

                <dt>{{ 'oktolab_media.episode_info_uniqID'|trans}}</dt>
                <dd>{{ episode.uniqID }}</dd>

                <dt>{{ 'oktolab_media.episode_info_stereomode'|trans }}</dt>
                <dd>{{ 'oktolab_media.stereomode_choice'|transchoice(episode.stereomode)}}</dd>
                <dt>
                    {{'oktolab_media.episode_info_agerating'|trans }}
                </dt>
                <dd>
                    <span class="label {% if episode.agerating > 17 %}label-danger{% elseif episode.agerating > 11 %}label-warning{% else %}label-default{% endif %}">
                        {{ episode.agerating }}
                    </span>
                </dd>
                <dt>{{ 'oktolab_media.episode_info_storage'|trans }}</dt>
                {% set size = 0 %}
                {% for media in episode.media %}
                    {% if media.asset is not empty %}
                        {% set size = size + media.asset.filesize %}
                    {% endif %}
                {% endfor %}
                <dd>{{ size|filesize(true) }}</dd>
            </dl>

            <h4>{{ 'okto_media_episode_tags_header'|trans }}</h4>
            <div class="list-group">
                {% for tag in episode.tags %}
                    <a href="{{ path('okto_tag_episodes', {'slug': tag.slug}) }}" class="list-group-item">
                        {{ 'okto_media.episode_show_tag_list_entry'|trans({'%tag%': tag})|raw }}
                    </a>
                {% endfor %}
                <a href="{{ path('oktolab_episode_edit', {'episode': episode.uniqID}) }}" class="list-group-item">
                    {{ 'oktolab_media.episode_show_tags_edit'|trans|raw }}
                </a>
            </div>

            <h4>{{ 'oktolab_media_media_for_episode_header'|trans }}</h4>
            {{ render(controller('OktolabMediaBundle:Media:mediaForEpisode', {'uniqID': episode.uniqID})) }}

            <h4>{{ 'oktolab_media.episode_captions_header'|trans }}</h4>
            <div class="list-group">
                {% for caption in episode.captions %}
                    <a href="{{ path('oktolab_capiton_editor', {'uniqID': caption.uniqID}) }}" class="list-group-item">
                        {{ 'oktolab_media.show_episode_caption_list_entry'|trans({'%caption%': caption})|raw }}
                    </a>
                {% endfor %}
                <a href="{{ path('oktolab_caption_new', {'uniqID': episode.uniqID}) }}" class="list-group-item">
                    {{ 'oktolab_media.episode_show_captions_add'|trans|raw }}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ render(controller('BprsLogbookBundle:Default:pager', {'reference': episode.uniqID})) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if episode.technicalStatus == constant('Oktolab\\MediaBundle\\Entity\\Episode::STATE_READY') %}
        {{ player(episode)|raw }}
    {% endif %}
    <script>
        // Set posterframe
        $(document).ready(function(){
            {% if episode.technicalStatus == constant('Oktolab\\MediaBundle\\Entity\\Episode::STATE_READY') %}
                var playerInstance = jwplayer("player");

                $('#set_posterframe').click(function(e) {
                    e.preventDefault();
                    location.href = "{{ path('oktolab_episode_extractposterframe', {'uniqID': episode.uniqID}) }}" + "?" + $.param({'position': playerInstance.getPosition()});
                });
            {% endif %}
        });
        // AJAX pagination
        var updateView = function(e, link) {
            e.preventDefault();
            var link = $(link);
            $.ajax({
                url: link.attr('href'),
                context: document.body
            }).success(function(data) {
                $(link.parents('.episode-pager')).replaceWith(data);
            });
        }

        $( document ).on('click', '.pagination > li > a', function(e){
            updateView(e, this);
        });

        $( document ).on('click', '.sortable', function(e){
            updateView(e, this);
        });
        $( document ).on('click', '.asc', function(e){
            updateView(e, this);
        });
        $( document ).on('click', '.desc', function(e){
            updateView(e, this);
        });
    </script>
{% endblock %}
