[
    "assets":[
        {% for asset in assets %}
        {
            "name": {{ asset.name }},
            "mimetype": {{ asset.mimetype}},
            "filesize": {{ asset|filesize }},
            "date": {{ asset.updatedAt|date('Y.m.d H:i') }},
            "link": {{ asset|path }}
        },
        {% endfor %}
    ]
]
