{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}

    <div class="page-header">
        <h1>{{ 'bprs_applink.keychain_addkey_header'|trans }}</h1>
        <a href="{{ path('bprs_applink_keychain_show', {'uniqID': keychain.uniqID}) }}" class="btn btn-default">{{ 'bprs_applink.keychain_addkey_back'|trans|raw }}</a>
    </div>

    {{ form(form) }}
{% endblock %}
