{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}

    <div class="page-header">
        <h1>{{ 'bprs_applink.keychain_new_header'|trans }}</h1>
        <p>
            {{ 'bprs_applink.keychain_new_text'|trans }}
        </p>
        <a href="{{ path('bprs_applink_keychains') }}" class="btn btn-default">{{ 'bprs_applink.keychain_new_back'|trans|raw }}</a>
    </div>

    {{ form(form) }}
{% endblock %}
