{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}

    <div class="page-header">
        <h1>{{ 'bprs_applink.keychain_show_header'|trans() }}</h1>
        <a href="{{ path('bprs_applink_keychains') }}" class="btn btn-default">{{ 'bprs_applink.keychain_index'|trans}}</a>
        <a href="{{ path('bprs_applink_keychain_edit', {'uniqID': keychain.uniqID}) }}" class="btn btn-default">{{ 'bprs_applink.show_keychain_edit_button'|trans|raw}}</a>
    </div>
    <div class="well">
        {{ url('bprs_applink_interface') }}
    </div>

    <table class="table">
        <tr>
            <td>
                {{ 'bprs_applink.keychain_user_label'|trans }}
            </td>
            <td>
                {{ keychain.username }}
            </td>
        </tr>
        <tr>
            <td>
                {{ 'bprs_applink.keychain_apiKey_label'|trans }}
            </td>
            <td>
                {{ keychain.apiKey }}
            </td>
        </tr>
        <tr>
            <td>
                {{ 'bprs_applink.keychain_url_label'|trans }}
            </td>
            <td>
                <a href="{{ keychain.url|raw }}">{{keychain.url}}</a>
            </td>
        </tr>
        <tr>
            <td>
                {{ 'bprs_applink.keychain_isActive_label'|trans }}
            </td>
            <td>
                {{ 'bprs_applink.keychain_isActive_choice'|transchoice(keychain.isActive)}}
            </td>
        </tr>
    </table>

    <h2>{{ 'bprs_applink.keychain_roles'|trans }}</h2>
    <div class="list-group">
        {% for role in keychain.roles %}
            <a href="" class="list-group-item">
                {{ role }}
            </a>
        {% endfor %}
        <a href="{{ path('bprs_applink_keychain_addkey', {'uniqID': keychain.uniqID})}}" class="list-group-item">{{ 'bprs_applink.keychain_show_addkey'|trans|raw}}</a>
    </div>
{% endblock %}
