@charset "UTF-8";
/* CSS Document */

.viennamap li figure > div.img-container {
    position: relative;
}

.viennamap figcaption {
    padding-top:10px;
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
body.equipment_rental .viennamap .details div:first-child {
    margin-right:5px;
    margin-left:5px;
    margin-top:40px;
}

.viennamap .bg-opacity {
    opacity: 0.2;
    -moz-opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

body.equipment_rental .viennamap li .details div:first-child {
    padding: 10px;
}
section figure.visible-xs {
    margin-top:60px;
    margin-bottom: 60px;
}
.viennamap li {
    margin-bottom: 40px;
}


body.equipment_rental .equipment-pin figcaption.col-md-6, body.equipment_rental .equipment-pin figcaption.col-sm-6, body.equipment_rental .equipment-pin figcaption.col-xs-6 {
    padding:10px;
}
body.equipment_rental .equipment-pin .col-md-6, body.equipment_rental .equipment-pin .col-sm-6, body.equipment_rental .equipment-pin .col-xs-6  {
	padding-left:0px;
	padding-right:0px;
}
body.equipment_rental .equipment-pin.row {
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom:30px;
}
.equipment div.row {
    margin-top: 40px;
}
.equipment div figcaption {
    position: static;
    height: 100%;
}
body.equipment_rental .equipment-pin .img-responsive {
        width: 280px;
        height: 280px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
}
body.equipment_rental .equipment-group:nth-child(odd) figure.equipment-pin > div.col-sm-6 {
        float: right;
}
body.equipment_rental .equipment-group:nth-child(odd) figure.equipment-pin > div.col-sm-6 a {
        float:right;
}
body.equipment_rental .equipment-group:nth-child(odd) figure.equipment-pin > div.col-sm-6 img {
        display: block;
}
body.equipment_rental .equipment-group:nth-child(even) figure.equipment-pin > div.col-sm-6 {
        float: left;
}
.equipment-pin figcaption div {
    width: 100%;
}
body.equipment_rental .equipment-pin .collapse-side {
    display: none;
}
body.equipment_rental .viennamap div p:last-child {
    margin-bottom: 0;
}
body.equipment_rental .viennamap .collapse-footer {
    height: 30px;
}
body.equipment_rental .faq ul {
    margin-top:60px;
}

@media (min-width: 768px) {
    .viennamap {
	    background-image:url(../images/equipment/viennamap.png);
        background-image:url(../images/equipment/viennamap.svg), none;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 60%;
    }
    .viennamap {
        position: relative;
        padding-top:400px;
    }
    .viennamap li figure {
        position: absolute;
        top:100px;
    }
    .viennamap li:nth-child(1) figure {
        left:20px;
    }       
    .viennamap li:nth-child(2) figure {
        left:50%;
        margin-left:-100px;
    }
    .viennamap li:nth-child(3) figure {
        right:20px;
    }
    .equipment figure {
    position: relative;
}
    .viennamap figure img {
    width: 164px;
    height: 164px;
}
body.equipment_rental .viennamap .details div:first-child {
    margin-right:0px;
    margin-left:0px;
    margin-top:0;
}
    /* erste Figur */
.viennamap li:nth-child(1) figure div.img-container {
    border: solid #d1418f 3px;
}
.viennamap li:nth-child(1) figure img {
    margin-top:20px;
    margin-right:10px;
}

.viennamap li:nth-child(2) figure div.img-container {
    border: #13fffd 3px solid;
}
.viennamap li:nth-child(2) {
    text-align: left;
}
.viennamap li:nth-child(2) figure img {
    margin-top:10px;
    margin-left:15px;
}

.viennamap li:nth-child(3) figure div.img-container {
    border: #fcce14 3px solid;
}
.viennamap figure div.img-container {
    width: 210px;
    height: 210px;
    border-radius: 126px;
}
.viennamap figure div.img-container .container-bg-opacity, .viennamap figure div.img-container .bg-opacity {
    width: 200px;
    height: 200px;
    border-radius: 126px;
    margin:1px;
}
    body.equipment_rental .equipment-pin .collapse-side {
        display: block;
        width: 54px;
        height: 30px;
        position: absolute;
        top:45px;
    }    
    body.equipment_rental .equipment-group:nth-child(odd) .equipment-pin .collapse-side {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        -moz-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg);
        right:auto;
        left:50%;
        margin-left:-12px;
    }
    body.equipment_rental .equipment-group:nth-child(even) .equipment-pin .collapse-side {
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Safari */
        -moz-transform: rotate(-90deg); /* Safari */
        transform: rotate(-90deg);
        left:auto;
        right:50%;
        margin-right: -12px;
    }
    body.equipment_rental .viennamap .collapse-footer {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari */
        -moz-transform: rotate(180deg); /* Safari */
        transform: rotate(180deg);
    }
}

@media (min-width: 992px) {
    .viennamap {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto;
    }
    .viennamap {
	    height: 570px;
        padding-top:0;
    }
    .viennamap li {
        position: absolute;
        top:230px;
        width: auto;
        margin-bottom: 0;
    }
    .viennamap li figure {
        position: relative;
        top:auto;
    }
    .viennamap li:nth-child(1) figure, .viennamap li:nth-child(2) figure, .viennamap li:nth-child(3) figure {
        left:auto;
        right: auto;
    }
    .viennamap li:nth-child(2) figure {
        margin-left: 0;
    }
    .viennamap li:nth-child(1) {
        left: 160px;
    }
    .viennamap li:nth-child(2) {
        left: 420px;
    }
    .viennamap li:nth-child(3) {
        left: 820px;
    }
    .viennamap figure div.img-container {
        width: 240px;
        height: 240px;
    }
    .viennamap figure div.img-container .container-bg-opacity, .viennamap figure div.img-container .bg-opacity {
        width: 230px;
        height: 230px;
    }
    .viennamap figure img {
        width: 184px;
        height: 184px;
    }
    .viennamap li:nth-child(1) {
        text-align: right;
    }
    body.equipment_rental .viennamap li .details {
        width: 300px;
        position: absolute;
        z-index:300;
        bottom: 260px;
        text-align: left;
        opacity: 0;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }
    body.equipment_rental .viennamap li:hover .details {
        opacity: 1;
    }
    body.equipment_rental .equipment-pin .img-responsive {
        width: 100%;
        height: auto;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    body.equipment_rental .equipment-group:nth-child(odd) figure.equipment-pin > div.col-sm-6 {
        float: left;
    }
    body.equipment_rental .equipment-group:nth-child(odd) figure.equipment-pin > div.col-sm-6 a {
        float:none;
    }
    
    .equipment div figcaption h3 {
        position: absolute;
        top:50%;
        width: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding-right:25px;
    }
    body.equipment_rental .equipment-pin .collapse-side {
        display: none;
    }
}