{% extends "BprsStyleBundle::layout.html.twig" %}
{% block metas %}
    <meta name="description" content="{{ 'oktothek_tv_meta_description'|trans }}">
{% endblock %}
{% block header_content %}
    <link rel="prev" href="{{ url('tv', {'date': date|date_modify('-1 day')|date('Y-m-d') }) }}" />
    <link rel="next" href="{{ url('tv', {'date': date|date_modify('+1 day')|date('Y-m-d') }) }}" />
{% endblock %}
{% block title %}{{ 'oktothek_tv_title'|trans }}{% endblock %}
{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'tv', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "livestream" %}
{% block body_main %}
    <div id="top"></div>
    <div id="player">
    </div>
    {% include "AppBundle::tv/current.html.twig" %}

    {{ render(controller('AppBundle:TV:program', {'date': date|date('Y-m-d')})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://content.jwplatform.com/libraries/qecJHTsP.js"></script>
    <script type="text/javascript">
        /*Comment*/
        $(document).ready(function(event){
            setInterval("updateCurrent()", 120000);

            var keepsWatchingInterval = null;

            var playerInstance = jwplayer("player");
            playerInstance.setup({
                file: "{{ okto_streamurl }}",
                image: "{{ asset('bundles/app/images/placeholder/Logo'~random(6)~'.png') }}"
            }).on('play', function(event){
                console.log(event.oldstate);
                if (event.oldstate == "buffering" || event.oldstate == "paused") { {# fire statistics #}
                    $.ajax({
                        url: "{{ url('bprs_analytics_write_log')}}",
                        data: {'identifier': "tv", 'value': 'start'}
                    });
                    if (keepsWatchingInterval == null) {
                        keepsWatchingInterval = setInterval("keepsWatching()", 600000); {# track every 10 minutes #}
                    }
                };
            }).on('pause', function(event) {
                clearInterval(keepsWatchingInterval);
                keepsWatchingInterval = null;
            })
        });

        function keepsWatching() {
            $.ajax({
                url: "{{ url('bprs_analytics_write_log')}}",
                data: {'identifier': "tv", 'value': 'running'}
            });
        }

        function updateCurrent() {
            $.ajax({
                url: "{{ url('oktothek_tv_current_show') }}",
                success: function(data) {
                    $('#current_show').replaceWith(data);
                }
            });
        }

        function updateProgram(url) {
            $.ajax({
                url: url,
                success: function(data) {
                    $('.programm').replaceWith(data);
                }
            });
        }

        $(document).on('click', '.loadme', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            history.pushState({'url': url}, "");
            updateProgram(url);
        });

        window.onpopstate = function(event) {
            if (event.state) {
                updateProgram(event.state.url);
            } else {
                updateProgram("{{ url }}");
            }
        }
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/livestream.css') }}" rel="stylesheet" />
{% endblock %}
