{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body_main -%}
    <div class="page-header">
        <h1>{{ series.name }}</h1>
        <a href="{{ path('oktolab_series_edit', { 'series': series.id }) }}" class="btn btn-default">{{ 'oktolab_media.series_edit_button'|trans|raw }}</a>
        <a href="{{ path('oktolab_media_api_show_series', {'uniqID': series.uniqID }) }}" class="btn btn-default">{{ 'oktolab_media.series_show_api'|trans|raw }}</a>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if series.posterframe is not empty %}
                        <img src="{{ series.posterframe|path }}" class="img-responsive" />
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {{ series.description }}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h4>{{ 'oktolab_media_info_for_series_header'|trans }}</h4>
            <dl class="dl-horizontal">
                <dt>{{ 'oktolab_media.series_info_isActive'|trans }}</dt>
                <dd>{{ series.isActive ? 'oktolab_media.series_info_isActive_choice_true'|trans : 'oktolab_media.series_info_isActive_choice_false'|trans }}</dd>

                <dt>{{ 'oktolab_media.series_info_createdAt'|trans }}</dt>
                <dd>{{ series.createdAt|date("oktolab_media.series_info_createdAt_date"|trans) }}</dd>

                <dt>{{ 'oktolab_media.series_info_updatedAt'|trans }}</dt>
                <dd>{{ series.updatedAt|date("oktolab_media.series_info_updatedAt_date"|trans) }}</dd>

                <dt>{{ 'oktolab_media.series_info_uniqID'|trans}}</dt>
                <dd>{{ series.uniqID }}</dd>

                <dt>{{ 'oktolab_media.series_info_webtitle'|trans}}</dt>
                <dd>{{ series.webtitle }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
