<ul class="nav" role="menu" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
    {#<li class="dropdown languages">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> SPRACHEN</a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('homepage', {'_locale': 'de'}) }}">Deutsch</a></li>
            <li><a href="{{ path('homepage', {'_locale': 'en'}) }}">English</a></li>
            <li></li>
        </ul>
    </li>#}
    {% for page in pages %}
        <li {% if slug|default('') == page.slug %}class="active"{% endif %}><a href="{{ path('oktothek_page_show', {'page': page.slug}) }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
<ul class="nav" role="menu" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
    {#<li class="dropdown languages">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> SPRACHEN</a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('homepage', {'_locale': 'de'}) }}">Deutsch</a></li>
            <li><a href="{{ path('homepage', {'_locale': 'en'}) }}">English</a></li>
            <li></li>
        </ul>
    </li>#}
    <li {% if slug|default('') == 'homepage' %}class="active"{% endif %}><a href="{{ path('homepage') }}">{{ 'oktothek.footer_home'|trans }}</a></li>
    <li {% if slug|default('') == 'oktothek_news' %}class="active"{% endif %}><a href="{{ path('oktothek_news')}}">{{ 'oktothek.footer_news'|trans }}</a></li>
    <li {% if slug|default('') == 'equipment' %}class="active"{% endif %}><a href="{{ path('equipment') }}">{{ 'oktothek.footer_equimpent'|trans }}</a></li>
    {#<li {% if slug|default('') == 'agb' %}class="active"{% endif %}><a href="{{ path('agb') }}">{{ 'oktothek.footer_agb'|trans }}</a></li>#}
    <li {% if slug|default('') == 'oktothek_show_series_index' %}class="active"{% endif %}><a href="{{ path('oktothek_show_series_index')}}">{{ 'oktothek.footer_series'|trans }}</a></li>
    <li {% if slug|default('') == 'contact' %}class="active"{% endif %}><a href="{{ path('contact')}}">{{ 'oktothek.footer_contact'|trans }}</a></li>
    <li {% if slug|default('') == 'help' %}class="active"{% endif %}><a href="{{ path('help')}}">{{ 'oktothek.footer_help'|trans }}</a></li>
    <li {% if slug|default('') == 'privacy_policy' %}class="active"{% endif %}><a href="{{ path('privacy_policy') }}" class="hyphenation">{{ 'oktothek.footer_privacy_policy'|trans }}</a></li>
    <li {% if slug|default('') == 'imprint' %}class="active"{% endif %}><a href="{{ path('imprint')}}">{{ 'oktothek.footer_imprint'|trans }}</a></li>
</ul>
