{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head %}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': 'notifications'} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
    <h1>{{ 'bprs_user.notifications.header'|trans({'%user%': app.user.username}) }}</h1>
</div>
    {% if notifications is empty %}
        <p>{{ 'bprs_user.list_notifications.empty'|trans }}</p>
    {% else %}
        <div class="navigation">
            {{ knp_pagination_render(notifications) }}
        </div>
        <div class="row">
            {% for notification in notifications %}
                <div class="col-md-12">
                    <a href="{{ path('bprs_user_notification_follow', {'notification': notification.id})}}">
                        {{ notification.message|trans(notification.values(true)) }}
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(notifications) }}
        </div>
    {% endif %}
{% endblock%}
