<!DOCTYPE html>
<html>
<head>
    <script src="{{ asset('bundles/bprsstyle/js/jquery2.1.4.js') }}"></script>
    <script src="{{ asset('bundles/bprsanalytics/js/chart.min.js')}}"></script>
    <script>
    $(document).ready(function(){
        var ctx = $("#myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for date, datapoints in logstates %}"{{ date|date('d.m.Y H:i') }}"{% if not loop.last %},{% endif %}{% endfor %}],
                datasets: [{
                    label: '# of clicks',
                    data: [{% for date, datapoints in logstates %}"{{ datapoints|length }}"{% if not loop.last %},{% endif %}{% endfor %}],//[12, 19, 3, 5, 2, 3],
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    });
    </script>
</head>
<body>
    <canvas id="myChart" width="400" height="400" style="backgroundColor:white"></canvas>
</body>
