{% extends "BprsStyleBundle::layout.html.twig" %}
{% block metas %}
<meta name="description" content="{{ 'oktothek_help_meta_description'|trans }}">
{% endblock %}
{% block title %}{{ 'oktothek_equipment'|trans }}{% endblock %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% set body_class = "equipment_rental" %}
{% block body %}
    <div id="top"></div>
    <header class="page-header">
        <h1 itemprop="headline">{{ 'oktothek_equipment_header'|trans }}</h1>
    </header>
    <div class="container-fluid">
        <!--<section class="container">
            <p class="subheadline">Möchtest du ProduzentIn werden und dir fehlt das notwendige Zubehör.......
usw. ein Text der kurz erklärt worum es sich hier überhaupt handelt.</p>
        </section>-->
        <section class="container studio">
            <h2>Studio</h2>
            
         <p class="subheadline">Im Okto Studio werden jährlich rund 700 Stunden Programm produziert. Das bedeutet, dass zirka ein Viertel der 120 Sendungsformate im Studio aufgezeichnet wird. Nach Herzenslust können sich ProduzentInnen auf 180m² ausleben. Diese Fläche inkludiert nicht nur den Studiobereich mit drei Studiokameras, Lichtpult und Beleuchtung, sondern auch ein Foyer zur Gästebetreuung, Maske und Umkleideraum sowie natürlich den Regieplatz mit Bild- und Tonmischung. </p>
      <!--<figure class="row visible-xs">
        <div class="col-xs-12">
            <img src="{{ asset('bundles/app/images/equipment/studio-2_rectangle.jpg')}}" class="img-responsive">
        </div>
      </figure>
      <p class="subheadline">Okto bietet dir jeden Raum, für deine Produktionen</p>
      
           <ul class="row viennamap">
                <li>
                    <div class="details" id="details-studio">
                        <div>
                            <h3>Das Okto Studio</h3>
                            <p>
                                Im Okto Studio werden jährlich rund 700 Stunden Programm produziert. Das bedeutet, dass zirka ein Viertel der 120&nbsp;Sendungsformate im Studio aufgezeichnet wird. Nach Herzenslust können sich ProduzentInnen auf 180m<sup>2</sup> ausleben. Diese Fläche inkludiert nicht nur den Studiobereich mit drei Studiokameras, Lichtpult und Beleuchtung, sondern auch ein Foyer zur Gästebetreuung, Maske und Umkleideraum sowie natürlich den Regieplatz mit Bild- und Tonmischung. 
                            </p>
                        </div>
                        <div class="collapse-footer col-lg-12 col-md-12 col-sm-12 hidden-xs"></div>
                    </div>
                    <figure class="hidden-xs">
                        <div class="img-container">
                            <img src="{{ asset('bundles/app/images/equipment/studio-2.jpg')}}" class="img-circle">
                            <div class="container-bg-opacity">
                                <div class="bg-opacity"></div>
                            </div>
                        </div>
                        <figcaption>Das Okto Studio</figcaption>
                    </figure>
                </li>
                <li>
                    <div class="details" id="details-vienna">
                        <div>
                            <h3>Wien</h3>
                            <p>
                                xxx
                            </p>
                        </div>
                        <div class="collapse-footer col-lg-12 col-md-12 col-sm-12 hidden-xs"></div>
                    </div>
                    <figure class="hidden-xs">
                        <div class="img-container">
                            <img src="{{ asset('bundles/app/images/equipment/wien.jpg')}}" class="img-circle">
                            <div class="container-bg-opacity">
                                <div class="bg-opacity"></div>
                            </div>
                        </div>
                        <figcaption>Wien</figcaption></li>
                    </figure>
                <li>
                    <div class="details" id="details-austria">
                        <div>
                            <h3>Österreich</h3>
                            <p>
                                xxx
                            </p>
                        </div>
                        <div class="collapse-footer col-lg-12 col-md-12 col-sm-12 hidden-xs"></div>
                    </div>
                    <figure class="hidden-xs">
                        <div class="img-container">
                            <img src="" class="img-circle">
                            <div class="container-bg-opacity">
                                <div class="bg-opacity"></div>
                            </div>
                        </div>
                        <figcaption>Österreich</figcaption>
                    </figure>
                </li>
            </ul>
        </section>-->
        <section class="container equipment">
            <h2>Equipment</h2>
            <figure class="row visible-xs">
        <div class="col-xs-12">
            <img src="{{ asset('bundles/app/images/equipment/equipment.jpg')}}" class="img-responsive">
        </div>
      </figure>
            <p class="subheadline">Für Dreharbeiten in der freien Wildbahn können ProduzentInnen auf 12 Kamerasets zurückgreifen. 4K-fähige Kameras in handlichen Größen, verschiedene Mikrofone, mobile Lichttechnik und Stative sind die passende Ausstattung für alle journalistischen Lebenslagen.</p>
            <div class="row">
                <!-- Kamerasets und Sound -->
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 equipment-group" itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
                    <figure class="row equipment-pin">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <a data-toggle="collapse" href="#details-cameras" aria-expanded="false" aria-controls="details-cameras"><img src="{{ asset('bundles/app/images/equipment/equipment_kamera.jpg')}}" alt="Kameras" class="img img-responsive"></a>
                        </div>
                        <figcaption class="col-md-6 col-sm-6 col-xs-12">
                            <h3><a data-toggle="collapse" href="#details-cameras" aria-expanded="false" aria-controls="details-cameras">Kamerasets</a></h3>
                            <div class="hidden-lg hidden-md">
                                <ul>
                                    <li>5 kleine JVC - GY-HM200E</li>
                                    <li>2 große JVC - GY-HM850E</li>
                                    <li>2 GoPro Hero 7 Black</li>
                                </ul>
                                <p>Die JVC-Kamerasets verfügen über folgendes Zusatzequipment:</p>
                                <ul>
                                    <li>Atmomikrofon + Windschutz</li>
                                    <li>Interviewmikrofon + Windschutz (RODE M3)</li>
                                    <li>XLR-Kabel</li>
                                    <li>2 Akkus</li>
                                    <li>Ladegerät + Euronetzkabeln</li>
                                    <li>Netzteil + Euronetzkabeln</li>
                                    <li>3 Speicherkarten</li>
                                    <li>USB-Kartenlesegerät</li>
                                    <li>USB-Label</li>
                                    <li>Kopfhörer</li>
                                    <li>Stativ</li>
                                </ul>
                            </div>
                        </figcaption>
                        <div class="collapse-side"></div>
                    </figure>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 equipment-group" itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
                    <figure class="row equipment-pin">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <a data-toggle="collapse" href="#details-sound" aria-expanded="false" aria-controls="details-sound"><img src="{{ asset('bundles/app/images/equipment/equipment_ton.jpg')}}" alt="Ton" class="img img-responsive"></a>
                        </div>
                        <figcaption class="col-md-6 col-sm-6 col-xs-12">
                            <h3><a data-toggle="collapse" href="#details-sound" aria-expanded="false" aria-controls="details-sound">Ton</a></h3>
                            <div class="hidden-lg hidden-md">
                                <ul>
                                    <li>6 Sennheiser Richtmikrofone + Halterung & Windschutz (XLR-Anschluss) (Sennheiser
ME-66, Supernieren- und Keulencharakteristik)</li>
                                    <li>4 Sennheiser Ansteckmikrofone (XLR-Anschluss) (Sennheiser MKE 2-60)</li>
                                    <li>6 Sennheiser Funkmikrofone (Sennheiser ew 100 G3)</li>
                                    <li>2 Tisch- & 2 Mikrofonstative</li>
                                    <li>2 Tonangeln</li>
                                    <li>2 Windschutzkörbe + Schwinghalterung</li>
                                    <li>XLR-Kabeln: 1,5m, 2m, 2,5m, 3m, 5m, 10m, 15m</li>
                                    <li>1 Reportage Tonmischer: Sound Devices 302 - Portable Stereo 3 Kanal Mischer</li>
                                </ul>
                            </div>
                        </figcaption>
                        <div class="collapse-side"></div>
                    </figure>
                </div>

                <div class="collapse collapseWindow preview col-md-12 col-lg-12 col-sm-12 col-xs-12" id="details-cameras">
                    <div class="collapse-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                    <div class="collapse-content">
                        <h3>Kamerasets</h3>
                        <ul>
                            <li>5 kleine JVC - GY-HM200E</li>
                            <li>2 große JVC - GY-HM850E</li>
                            <li>2 GoPro Hero 7 Black</li>
                        </ul>
                        <p>Die JVC-Kamerasets verfügen über folgendes Zusatzequipment:</p>
                        <ul>
                            <li>Atmomikrofon + Windschutz</li>
                            <li>Interviewmikrofon + Windschutz (RODE M3)</li>
                            <li>XLR-Kabel</li>
                            <li>2 Akkus</li>
                            <li>Ladegerät + Euronetzkabeln</li>
                            <li>Netzteil + Euronetzkabeln</li>
                            <li>3 Speicherkarten</li>
                            <li>USB-Kartenlesegerät</li>
                            <li>USB-Label</li>
                            <li>Kopfhörer</li>
                            <li>Stativ</li>
                        </ul>
                    </div>
                </div>
                
                <div class="collapse collapseWindow preview col-md-12 col-lg-12 col-sm-12 col-xs-12" id="details-sound">
                    <div class="collapse-header col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="collapse-content">
                        <h3>Tonequipment</h3>
                        <ul>
                            <li>6 Sennheiser Richtmikrofone + Halterung & Windschutz (XLR-Anschluss) (Sennheiser
ME-66, Supernieren- und Keulencharakteristik)</li>
                            <li>4 Sennheiser Ansteckmikrofone (XLR-Anschluss) (Sennheiser MKE 2-60)</li>
                            <li>6 Sennheiser Funkmikrofone (Sennheiser ew 100 G3)</li>
                            <li>2 Tisch- & 2 Mikrofonstative</li>
                            <li>2 Tonangeln</li>
                            <li>2 Windschutzkörbe + Schwinghalterung</li>
                            <li>XLR-Kabeln: 1,5m, 2m, 2,5m, 3m, 5m, 10m, 15m</li>
                            <li>1 Reportage Tonmischer: Sound Devices 302 - Portable Stereo 3 Kanal Mischer</li>
                        </ul>
                    </div>
                </div>
                <!-- Ende Kamerasets und Sound -->

                <!-- Licht und Mobile Reporting -->
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 equipment-group" itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
                    <figure class="row equipment-pin">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <a data-toggle="collapse" href="#details-light" aria-expanded="false" aria-controls="details-light"><img src="{{ asset('bundles/app/images/equipment/equipment_licht.jpg')}}" alt="Licht" class="img img-responsive"></a>
                        </div>
                        <figcaption class="col-md-6 col-sm-6 col-xs-12">
                            <h3><a data-toggle="collapse" href="#details-light" aria-expanded="false" aria-controls="details-light">Licht</a></h3>
                            <div class="hidden-lg hidden-md">
                                <ul>
                                    <li>1 ARRI Lichtkoffer mit 3 Lampen + Stative (Lichtkoffer “ARRILITE 750</li>
                                    <li>5 LED Video Lights mit Lampe + Montageaufsatz, Folien (FilliniPlus (800 LUX)) > 1 nur für GY HM-700E</li>
                                </ul>
                            </div>
                        </figcaption>
                        <div class="collapse-side"></div>
                    </figure>
                </div>
                
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 equipment-group" itemscope="itemscope" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
                    <figure class="row equipment-pin">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <a data-toggle="collapse" href="#details-mobile-reporting" aria-expanded="false" aria-controls="details-mobile-reporting"><img src="{{ asset('bundles/app/images/equipment/equipment_mobile_reporting.jpg')}}" alt="Mobile Reporting" class="img img-responsive"></a>
                        </div>
                        <figcaption class="col-md-6 col-sm-6 col-xs-12">
                            <h3><a data-toggle="collapse" href="#details-mobile-reporting" aria-expanded="false" aria-controls="details-mobile-reporting">Mobile Reporting</a></h3>
                            <div class="hidden-lg hidden-md">
                                <ul>
                                    <li>Soulderpod S1 Pro iPhone Grip</li>
                                    <li>Handy Mikrofon Rode Microphones smartLav+</li>
                                    <li>Gorillapod Joby</li>
                                </ul>
                            </div>
                        </figcaption>
                        <div class="collapse-side"></div>
                    </figure>
                </div>
            
                <div class="collapse collapseWindow preview col-md-12 col-lg-12 col-sm-12 col-xs-12" id="details-light">
                    <div class="collapse-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                    <div class="collapse-content">
                        <h3>Licht</h3>
                        <ul>
                            <li>1 ARRI Lichtkoffer mit 3 Lampen + Stative (Lichtkoffer “ARRILITE 750</li>
                            <li>5 LED Video Lights mit Lampe + Montageaufsatz, Folien (FilliniPlus (800 LUX)) > 1
nur für GY HM-700E</li>
                        </ul>
                    </div>
                </div>
            
                <div class="collapse collapseWindow preview col-md-12 col-lg-12 col-sm-12 col-xs-12" id="details-mobile-reporting">
                    <div class="collapse-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                    <div class="collapse-content">
                        <h3>Mobile Reporting</h3>
                        <ul>
                            <li>Soulderpod S1 Pro iPhone Grip</li>
                            <li>Handy Mikrofon Rode Microphones smartLav+</li>
                            <li>Gorillapod Joby</li>
                        </ul>
                    </div>
                </div>

                <!-- Ende Licht und Mobile Reporting -->
                
            </div>
        </section>
        <!-- Anfang Verleihrichtlinien -->
        <section class="container faq">
            <h2>Verleihrichtlinien für ProduzentInnen</h2>
            <p class="subheadline">Okto möchte möglichst viele Menschen dabei unterstützen, eine eigene Sendung zu produzieren und stellt dazu professionelle Kamerasets inkl. Zubehör zur Verfügung. Damit der Geräteverleih gut funktioniert und wir alle Sendungsteams bestmöglich unterstützen können, ist es wichtig, dass die SendungsmacherInnen die Regeln im Umgang mit dem Okto Equipment beachten.</p>
            <p class="subheadline">Sendungsteams, die gegen die Verleihregeln verstoßen, wird der Zugang zu den Okto Produktionsmitteln gesperrt.</p>
            <ul class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<!-- Eintrag 1 -->
  <li class="panel panel-default">
    <div class="panel-heading" role="tab" id="headline1">
      <h2 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls"collapseEins">
          Unsere Verleihzeiten
        </a>
      </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headline1">
      <div class="panel-body">
        <p>Mo&nbsp;&ndash;&nbsp;Fr, 12:00&nbsp;&ndash;&nbsp;15:00 und 17:00&nbsp;&ndash;&nbsp;20:00</p>
        <p>Das Abholen sowie das Zurückbringen von Equipment ist ausschließlich in dieser Zeit möglich.</p>
      </div>
    </div>
  </li>
  
  <!-- Eintrag 2 -->
  <li class="panel panel-default">
    <div class="panel-heading" role="tab" id="headline2">
      <h2 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls"collapse2">
          Reservierungen von Equipment
        </a>
      </h2>
    </div>
    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headline2">
      <div class="panel-body">
        <p>Bitte denkt rechtzeitig vor einem Dreh daran, dass benötigte Equipment beim Okto Verleihdienst
zu reservieren. Vor allem an den Wochenenden sind die Kamerasets heiß begehrt – die Vergabe erfolgt in der Reihenfolge der Anfragen.
Batterien für Kopflichter, Mikrofone, Tonmischer, etc. - sind selbst mitzubringen.</p>
        <p><strong>Reservierung vor Ort:</strong> während unserer Verleihzeiten direkt beim Verleihteam</p>
        <p><strong>Telefonische Reservierung:</strong>	Mo&nbsp;&ndash;&nbsp;Fr 12&nbsp;&ndash;&nbsp;20 Uhr unter 01/786 24 42–80</p>
        <p>Solltet ihr die vorreservierten Kamerasets bzw. den Schnittplatz doch nicht benötigen, bitten wir um rechtzeitige Absage.</p>
</div>
    </div>
  </li>
  
  <!-- Eintrag 3 -->
  <li class="panel panel-default">
    <div class="panel-heading" role="tab" id="headline3">
      <h2 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls"collapse3">
          Regeln im Umgang mit den Geräten
        </a>
      </h2>
    </div>
    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headline3">
      <div class="panel-body">
        <p>Das Equipment ist ausschließlich für die Produktion eurer Sendung auf Okto vorgesehen. Die Weitergabe an Dritte sowie Auftragsarbeiten für andere Verwendungszwecke sind verboten!</p>
<p>Kamerasets bitte immer mit größter Sorgfalt bedienen – Schäden, die durch sorglosen Umgang mit dem Equipment entstehen, werden von Okto NICHT ersetzt!
Es haftet der/die Sendungsverantwortliche eures Teams. Schäden bzw. Funktionsstörungen müssen dem Verleihdienst sofort bei Rückgabe gemeldet werden.</p>
<p>Lass das Equipment vor/während/nach dem Dreh sowie beim Transport niemals unbeaufsichtigt! Im Auto muss das Equipment immer so versperrt werden, daß es von außen nicht sichtbar ist. Bei Verlust oder Diebstahl bitte SOFORT Anzeige erstatten und Okto informieren.</p>
</div>
    </div>
  </li>
  
    <!-- Eintrag 4 -->
  <li class="panel panel-default">
    <div class="panel-heading" role="tab" id="headline4">
      <h2 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls"collapse4">
          Kaution/Haftung
        </a>
      </h2>
    </div>
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headline4">
      <div class="panel-body">
        <p>Für jedes entlehnte Kamera Set hebt der Okto Verleih eine Kaution von €100,00 ein, für Kopflichter und Lichtkoffer jeweils €60,00. Bei laufender Entlehnung muss mindestens eine Kaution fix hinterlegt bleiben.</p>
        <p>Bei Beschädigung, Verlust oder starker Verschmutzung durch unsachgemäße Handhabung bleibt die Kaution bei Okto. Für darüber hinausgehende Schäden haftet der/die Sendungsverantwortliche.</p>
</div>
    </div>
  </li>
  
      <!-- Eintrag 5 -->
  <li class="panel panel-default">
    <div class="panel-heading" role="tab" id="headline5">
      <h2 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls"collapse5">
          Checkliste für die Rückgabe der Geräte
        </a>
      </h2>
    </div>
    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headline5">
      <div class="panel-body">
        <p>Jedes Sendungsteam ist beim Dreh darauf angewiesen, dass sein Equipment in einem funktionstüchtigen Zustand ist. Wir erwarten von allen ProduzentInnen, dass sie im Sinne der Kollegialität vor der Rückgabe folgende Checklist genau einhalten:</p>
        <ul>
            <li>Equipment von Verschmutzung reinigen und alles am richtigen Platz einräumen</li>
            <li>AKKU´s immer vollständig aufladen</li>
            <li>Speicherkarten formatieren</li>
            <li>Kabel aufrollen (kein Kabelsalat)</li>
            <li>Kameraeinstellungen zurücksetzen</li>
        </ul>
        </div>
    </div>
  </li>
  
  </ul>
  
  
        </section>
        <!-- Ende Verleihrichtlinien -->
        <section class="container">
            <h2>Schnittplätze</h2>
            <p class="subheadline">Zurück vom Dreh, geht es in die Postproduktion. Vier Schnittplätze bieten neueste und modernste Software für Schnitt und Bildbearbeitung. Muss noch etwas eingesprochen werden, kann das im Audio-Aufnahmeraum erledigt werden. So erhalten Sendungen ihren gelungenen letzten Schliff. </p>
        </section>
        <section class="container">
            <p class="subheadline">Wenn du ProduzentIn werden willst, erhältst du bei Okto im Vorfeld die nötigen Kenntnisse, um Sendungen fertig zu produzieren. Für alle zusätzlich auftretenden Fragen stehen dir Okto MitarbeiterInnen bei den Schnittplätzen zur Seite.</p>
        </section>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/equipment.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/collapse_windows.css') }}" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/javascript_collapse.js') }}"></script>
    <script>
    $(document).ready(function(){

    });
    </script>
{% endblock %}
